//
//  Common.xcconfig
//  Broadcast Encoder
//
//  Created by Christopher Kalafarski on 3/12/14.
//  Copyright (c) 2014 PRX. All rights reserved.
//

#include "Pods/Pods.xcconfig"

GCC_PREFIX_HEADER = $(SRCROOT)/Broadcast Encoder/Core/Broadcast Encoder-Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES


INFOPLIST_FILE = $(SRCROOT)/Broadcast Encoder/Core/Broadcast Encoder-Info.plist

PRODUCT_NAME = $(TARGET_NAME)

COMBINE_HIDPI_IMAGES = YES

WRAPPER_EXTENSION = app

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
